<button class="top-btn register" data-toggle="modal" data-target="#registerModal"
        ng-click="deactivate()">Register</button>

<button class="top-btn login" data-toggle="modal" data-target="#loginModal"
        ng-click="deactivate()">Log in</button>
