<html  id="ng-app" lang="en-US" ng-app="linkManagerApp">
<head>
  <title>Test task</title>

  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/bootstrap-grid-3.3.1.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-modal.css"/>
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="bootstrap-modal-bs3patch.css"/> -->

</head>
<body>

  <div id="main" ng-controller="mainController" ng-class="linkManagerModel.deactivated ? 'disactivated' : ''">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2">
          <div id="home-logo">Te.sT</div>
        </div>
        <div class="col-xs-6 visible-xs">
          <span class="auth-text"><b>{{linkManagerModel.user.username}}</b> <i class="fa fa-user-o fa-lg">&nbsp;</i></span>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6" >
          <div class="top-btn-container">
            <div id="top-btns"><% include topButtons %></div>
            <span class="auth-text hidden-xs">Signed in as <b>{{linkManagerModel.user.username}}</b></span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="tagline">
            te.st - test task for <b>Instinctools</b>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
          <form class="input-block" ng-submit="searchByUrl()">
              <input class="search-input" placeholder="SEARCH BY LINK" ng-model="linkManagerModel.searchText">
              <button class="search-btn">SEARCH</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <% include modals %>

  <script src="js/angular.min.js"></script>
  <script src="js/jquery-3.1.1.js"></script>
  <script src="js/bootstrap-modal.js"></script>
  <script src="js/bootstrap-modalmanager.js"></script>

  <script src="modules/mainApp.js"></script>

  <script src="models/dataService.js"></script>

  <script src="controllers/mainController.js"></script>
  <script src="controllers/authorizationController.js"></script>
  <script src="controllers/editLinkController.js"></script>

</body>
</html>
