
<button class="top-btn new-link" data-toggle="modal" data-target="#editLinkModal"
        ng-click="deactivate()">New link</button>

<button class="top-btn logoff" ng-click="logOut()">Log out</button>
