/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
}

a {
  color: #00B7FF;
}*/

@font-face {
  font-family: azertyperegular;
  src: url('../fonts/azertyperegular.otf');

}

.disactivated {
  opacity: 0.5;
}

#logo {
  float: left;
  padding: 0 10px;

  border: 0;
  border-radius: 8px;
  font-family: azertyperegular, arial;
  color: white;
  background: rgba(255, 15, 45, 1);
}

.auth-text {
  float: right;
  padding-top: 24px;
  font-size: 18px;
  font-family: arial;
}

.top-button-container {
  width: 100%;
  min-width: 250px;
  min-height: 52px;
  margin: 10px auto;

  float: left;

  /*background: blue;*/
}

.top-button {
  width: 44%;
  height: 50px;
  float: left;

  margin: 0 3%;

  border-radius: 6px;
  font-size: 18px;
  font-family: arial;
}

.login {
  background: grey;
  color: white;
}

.register {
  background: rgba(255, 185, 55, 1);
  color: rgba(60, 60, 60, 1);
}

#tagline {
  padding: 40px 0;
  text-align: center;
  font-family: arial;
  font-size: 64px;
  line-height: 1.2;
  background: rgba(215, 215, 215, 1);
}

.input-block {
  width: 100%;
  margin: 15px 0;
  padding-left: 10px;
}


 .container-input {
  width: 86%;
  height: 40px;
  padding-left: 10px;
  float: left;

  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
}

.search-btn {
  width: 40px;
  height: 40px;
  float: left;
  /*min-width: 64px;*/

  color: white;
  background: rgba(255, 140, 10, 1);
  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
}

.search-query {
  height: 64px;
  padding: 20px;

  font-size: 18px;
  font-family: arial;

  background: rgba(215, 215, 215, 1);
}

/*screen-xs*/
@media (max-width: 768px) {
  /*.myColoredCol{background-color:blue;}*/
  #logo {font-size: 32px;}
  #tagline {font-size: 40px;
            padding: 0;}
  .top-button {font-size: 18px;}
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
  /*.myColoredCol{background-color:green;}*/
  #logo {font-size: 40px;}
  #tagline {font-size: 48px;
            padding: 10px 0;}
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
  /*.myColoredCol{background-color:yellow;}*/
  #logo {font-size: 48px;}
  #tagline {font-size: 56px;
            padding: 25px 0;}
  .top-button {font-size: 18px;}

}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {
  /*.myColoredCol{background-color:red;}*/
  #logo {font-size: 48px;}

}
