/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
}

a {
  color: #00B7FF;
}*/

@font-face {
  font-family: azertyperegular;
  src: url('../fonts/azertyperegular.otf');

}

/*.activated {
  background: rgba(205, 225, 255, 1);
}*/

.disactivated {
  opacity: 0.1;
}

#logo-hp {
  float: left;
  padding: 0 10px;
  border: 0;
  border-radius: 8px;
  font-family: azertyperegular, arial;
  color: white;
  background: rgba(255, 15, 45, 1);
}

.top-btn-container {
  width: 100%;
  min-width: 250px;
  min-height: 44px;
  float: right;
}

.auth-text {
  float: right;
  font-family: arial;
}

.top-btn {
  float: right;
  margin: 0 3%;
  border-radius: 6px;
  font-size: 20px;
  font-family: arial;
}

.login, .logoff {
  background: grey;
  color: white;
}

.register, .new-link {
  background: rgba(255, 185, 55, 1);
  color: rgba(60, 60, 60, 1);
}

#tagline {
  text-align: center;
  font-family: arial;
  background: rgba(215, 215, 215, 1);
}

.input-block {
  padding-top: 16px;
}

.container-input {
  width: 76%;
  height: 40px;
  padding-left: 10px;
  float: left;
  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
}

.search-btn {
  width: 24%;
  height: 40px;
  float: left;
  min-width: 64px;
  overflow: hidden;
  color: white;
  background: rgba(255, 140, 10, 1);
  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
}

.auth-form {
  position: fixed;
top: 10%;
left: 40%;
  width: 300px;

  background: rgba(215, 215, 215, 1);
  font-size: 16px;

  overflow: hidden;
  transition: all linear 0.4s;
}

.auth-form.ng-hide {
  top: 0;
}

.auth-form.ng-hide-remove {
  top: 1px;
}

.auth-form.ng-hide-remove-active {
  top: 10%;
}



.auth-block {
  position: relative;
  width: inherit;
  height: inherit;
}

.login-form {
  height: 320px;
  overflow: hidden;
  transition: all linear 0.4s;
}

.login-form.ng-hide {
  height: 0;
}

.login-form.ng-hide-remove {
  height: 1px;
}

.login-form.ng-hide-remove-active {
  height: 320px;
}

.register-form {
  height: 380px;
  overflow: hidden;
  transition: all linear 0.4s;
}

.register-form.ng-hide {
  height: 0;
}

.register-form.ng-hide-remove {
  height: 1px;
}

.register-form.ng-hide-remove-active {
  height: 360px;
}

.auth-close {
  width: 24px;
  float: right;
  font-size: 20px;
  margin-top: 11px;

  background: rgba(255, 185, 55, 1);
  color: rgba(60, 60, 60, 1);
}

.popup-header {
  padding: 20px;
  margin: 0;
  font-family: arial;
  font-size: 28px;
  color: white;
  background: grey;
}

.text-warning {
  color: red;
}

.popup-input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
}

.popup-btn {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 260px;
  height: 40px;

  margin: 20px;
  color: white;
  border-radius: 6px;
  border: 1px solid rgba(120, 120, 120, 1);
  background: rgba(255, 140, 10, 1);
}

/*screen-xs*/
@media (max-width: 768px) {
  #logo-hp {font-size: 48px;}
  .top-btn-container {margin: 16px auto;}
  .auth-text {padding-top: 22px; font-size: 18px;}
  .top-btn {width: 48%; height: 44px; margin: 0 0 0 4%;}
  .login, .logoff {margin-left: 0;}
  #tagline {line-height: 1; font-size: 40px; padding: 20px 0;}
  /*.auth-form {width: 300px;}*/
}
/*screen-sm*/
@media (min-width: 768px) and (max-width: 992px) {
  #logo-hp {font-size: 56px;}
  .top-btn-container {margin: 20px auto;}
  .auth-text {padding-top: 12px; font-size: 18px;}
  .top-btn {width: 100px; height: 46px; margin: 0 6px;}
  #tagline {line-height: 2; font-size: 48px; padding: 10px 0;}
  /*.auth-form {width: 300px;}*/
}
/*screen-md*/
@media (min-width: 992px) and (max-width: 1200px) {
  #logo-hp {font-size: 64px;}
  .top-btn-container {margin: 22px auto;}
  .auth-text {padding-top: 13px; font-size: 18px;}
  .top-btn {width: 110px; height: 48px; margin: 0 8px;}
  #tagline {line-height: 1.6; font-size: 56px; padding: 25px 0;}
  /*.auth-form {width: 300px;}*/
}
/*screen-lg corresponds with col-lg*/
@media (min-width: 1200px) {
  #logo-hp {font-size: 68px;}
  .top-btn-container {margin: 24px auto;}
  .auth-text {padding-top: 14px; font-size: 18px;}
  .top-btn {width: 110px; height: 50px; margin: 0 10px;}
  #tagline {line-height: 1.2; font-size: 64px; padding: 40px 0;}
  /*.auth-form {width: 100%;}*/
}
