<form class="auth-form login-form" ng-controller="authorizationController"
      ng-submit="login()" ng-hide="linkManagerModel.hidePopup">
	<div class="auth-block">

		<div class="popup-header">
			<span>Welcome!</span>
			<div class="auth-close" ng-click="close()">
				<i class="fa fa-window-close-o fa-lg">&nbsp;</i>
			</div>
		</div>

		<div style="padding: 20px;">
			<span class="text-warning">Login or password incorrect{{error_message}}</span>
			<input class="popup-input" type="username" ng-model="user.username" placeholder="Username" required><br>
			<input class="popup-input" type="password" ng-model="user.password" placeholder="Password" required><br>
			<input type="submit" value="Log in" class="btn btn-primary popup-btn" />
		</div>
	</div>
</form>
